In [42]:
import pandas as pd

In [43]:
data = pd.read_csv('HospitalsInIndia.csv')

In [44]:
data

,Unnamed: 0,Hospital,State,City,LocalAddress,Pincode
0,0,A A Hospital,Tamilnadu,Hosur,Denkani Kottai Road Mathigiri,635110
1,1,A C Hospital,Tamilnadu,Chennai,"No-8, 3Rd Main Road, United India Nagar, Ayana...",600023
2,2,A-Care Orthopaedic & General Hospital,Maharashtra,Mumbai,"G-1, Giriraj Tower, Sai Baba Nagar, Mira Bhaya...",401107
3,3,A-One Hospital Pvt Ltd,Delhi,Delhi,"A-1/7, Panchim Vihar, Rohtak Road, New Delhi-1...",110063
4,4,A.B.Eye Institute,Bihar,Patna,"Road No.12, Rajendra Nagar, Patna, Bihar-800016",800016
...,...,...,...,...,...,...
1342,1343,Dr. Mahesh Rathod Hospital,Gujarat,Rajkot,"1, Sardarnagar, Nr. Astran Chowk, Rajkot",360001
1343,1344,Dr. Malathi Manipal Hospital,Karnataka,Bangalore,"45/1, 45Th Cross, 9Th Block, Jayanagar, Bangal...",560069
1344,1345,Dr. Manish Patankars Nath Hospital,Maharashtra,Mumbai,"101, A-Wing, Golden Havens Apartments, Kolbad ...",400601
1345,1346,Dr. Manohara Sai Gowda Memorial Hospital,Karnataka,Mulbagal,"Nh-4, Opposite Inspection Bungalow, Mulbagal",563131
1346,1347,Dr. Mehta'S Multispeciality Hospital Pvt Ltd.,Tamilnadu,Chennai,"2 (E), Mc. Nicholas Road, Chennai, Opposite To...",600031

In [45]:
data1 = data[['Pincode','City','Hospital']]

In [46]:
data1

      Pincode       City                                       Hospital
0      635110      Hosur                                   A A Hospital
1      600023    Chennai                                   A C Hospital
2      401107     Mumbai          A-Care Orthopaedic & General Hospital
3      110063      Delhi                         A-One Hospital Pvt Ltd
4      800016      Patna                              A.B.Eye Institute
...       ...        ...                                            ...
1342   360001     Rajkot                     Dr. Mahesh Rathod Hospital
1343   560069  Bangalore                   Dr. Malathi Manipal Hospital
1344   400601     Mumbai             Dr. Manish Patankars Nath Hospital
1345   563131   Mulbagal       Dr. Manohara Sai Gowda Memorial Hospital
1346   600031    Chennai  Dr. Mehta'S Multispeciality Hospital Pvt Ltd.

[1347 rows x 3 columns]

In [47]:
type(data1)

pandas.core.frame.DataFrame

In [48]:
data1['Pincode'].astype('int')

0       635110
1       600023
2       401107
3       110063
4       800016
         ...
1342    360001
1343    560069
1344    400601
1345    563131
1346    600031
Name: Pincode, Length: 1347, dtype: int32

In [49]:
data['Pincode'].isna().sum()

0

In [50]:
data1[data1['Pincode'].isnull()]

Empty DataFrame
Columns: [Pincode, City, Hospital]
Index: []

In [51]:
data[data['Pincode'].isnull()]

Empty DataFrame
Columns: [Unnamed: 0, Hospital, State, City, LocalAddress, Pincode]
Index: []

In [52]:
data1.isnull().sum()

Pincode     0
City        0
Hospital    0
dtype: int64

In [53]:
data

,Unnamed: 0,Hospital,State,City,LocalAddress,Pincode
0,0,A A Hospital,Tamilnadu,Hosur,Denkani Kottai Road Mathigiri,635110
1,1,A C Hospital,Tamilnadu,Chennai,"No-8, 3Rd Main Road, United India Nagar, Ayana...",600023
2,2,A-Care Orthopaedic & General Hospital,Maharashtra,Mumbai,"G-1, Giriraj Tower, Sai Baba Nagar, Mira Bhaya...",401107
3,3,A-One Hospital Pvt Ltd,Delhi,Delhi,"A-1/7, Panchim Vihar, Rohtak Road, New Delhi-1...",110063
4,4,A.B.Eye Institute,Bihar,Patna,"Road No.12, Rajendra Nagar, Patna, Bihar-800016",800016
...,...,...,...,...,...,...
1342,1343,Dr. Mahesh Rathod Hospital,Gujarat,Rajkot,"1, Sardarnagar, Nr. Astran Chowk, Rajkot",360001
1343,1344,Dr. Malathi Manipal Hospital,Karnataka,Bangalore,"45/1, 45Th Cross, 9Th Block, Jayanagar, Bangal...",560069
1344,1345,Dr. Manish Patankars Nath Hospital,Maharashtra,Mumbai,"101, A-Wing, Golden Havens Apartments, Kolbad ...",400601
1345,1346,Dr. Manohara Sai Gowda Memorial Hospital,Karnataka,Mulbagal,"Nh-4, Opposite Inspection Bungalow, Mulbagal",563131
1346,1347,Dr. Mehta'S Multispeciality Hospital Pvt Ltd.,Tamilnadu,Chennai,"2 (E), Mc. Nicholas Road, Chennai, Opposite To...",600031

In [54]:
import pandas as pd


# Convert the DataFrame to JSON
json_data = data1.to_json(orient='records')

# Write the JSON data to a file
with open('hositalsinindia.json', 'w') as f:
    f.write(json_data)